.image-container {
    width: 50px;
    height: 30px;
}
.nascondi {
    display: none
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

/* Disabilita la selezione del testo */
/*body {*/
/*    -webkit-user-select: none; !* Chrome, Safari, Opera *!*/
/*    -moz-user-select: none; !* Firefox *!*/
/*    -ms-user-select: none; !* Internet Explorer *!*/
/*    user-select: none; !* Standard *!*/
/*}*/